# US-Ignite Fed_Notebook

In [4]:
#import libraries from Carto

#from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.viz import Map, Layer
#from cartoframes.data import Dataset
from cartoframes.viz.helpers import color_continuous_layer
import pandas as pd
import geopandas as gpd
import requests
import json
#import censusdata
#set_default_credentials(
#    base_url='https://usignite-admin.carto.com/',
#    api_key='81c922dc336bd82103d92a768816a4567c444909'
#)
#key='0995bcf2c5a4aa42899cf705840809959c68cf75'
#import config
#from census import Census
#from us import states

In [5]:
response = requests.get(
    'https://www.huduser.gov/hudapi/public/usps',
    params={'type': '1', 'query': '20002'},
    headers = {"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw"}
)

In [6]:
print(response.json())

{'data': {'year': '2019', 'quarter': '3', 'input': '20002', 'crosswalk_type': 'zip-tract', 'results': [{'geoid': '11001010600', 'res_ratio': 0.197728542170917, 'bus_ratio': 0.26714125140502, 'oth_ratio': 0.0732815754591933, 'tot_ratio': 0.187366895734076}, {'geoid': '11001008904', 'res_ratio': 0.0733303189084235, 'bus_ratio': 0.0460846759085799, 'oth_ratio': 0.0854004923309979, 'tot_ratio': 0.0731332469756515}, {'geoid': '11001008802', 'res_ratio': 0.0562810862568821, 'bus_ratio': 0.0266017234919445, 'oth_ratio': 0.0757432304487786, 'tot_ratio': 0.0567984719081388}, {'geoid': '11001008702', 'res_ratio': 0.0543926377104556, 'bus_ratio': 0.0325964780816785, 'oth_ratio': 0.0492330997917061, 'tot_ratio': 0.0525171800557665}, {'geoid': '11001008803', 'res_ratio': 0.0458813203181104, 'bus_ratio': 0.124016485575121, 'oth_ratio': 0.0594584359022912, 'tot_ratio': 0.0520341625134476}, {'geoid': '11001008903', 'res_ratio': 0.0510413064872197, 'bus_ratio': 0.0123641813413263, 'oth_ratio': 0.0689263397083885, 'tot_ratio': 0.050848574000483}, {'geoid': '11001008804', 'res_ratio': 0.0419448360241508, 'bus_ratio': 0.0307231172723866, 'oth_ratio': 0.117023291043362, 'tot_ratio': 0.0499923156300085}, {'geoid': '11001007901', 'res_ratio': 0.0476367795302816, 'bus_ratio': 0.0236043461970775, 'oth_ratio': 0.0657072524143154, 'tot_ratio': 0.048323709574725}, {'geoid': '11001008301', 'res_ratio': 0.0454291565816421, 'bus_ratio': 0.0779318096665417, 'oth_ratio': 0.0373035409960234, 'tot_ratio': 0.0463916394054493}, {'geoid': '11001008002', 'res_ratio': 0.0419448360241508, 'bus_ratio': 0.00786811539902585, 'oth_ratio': 0.0471501609543647, 'tot_ratio': 0.0405515182119568}, {'geoid': '11001008200', 'res_ratio': 0.0369710349229991, 'bus_ratio': 0.0513300861745972, 'oth_ratio': 0.056618064760462, 'tot_ratio': 0.0400904560124706}, {'geoid': '11001008100', 'res_ratio': 0.0407479320158523, 'bus_ratio': 0.0142375421506182, 'oth_ratio': 0.045824654421511, 'tot_ratio': 0.0397830812128131}, {'geoid': '11001008302', 'res_ratio': 0.0409075192169587, 'bus_ratio': 0.0198576245784938, 'oth_ratio': 0.0344631698541942, 'tot_ratio': 0.0389268228423386}, {'geoid': '11001008402', 'res_ratio': 0.0373168071920631, 'bus_ratio': 0.0460846759085799, 'oth_ratio': 0.0291611437227797, 'tot_ratio': 0.0368849759588995}, {'geoid': '11001008001', 'res_ratio': 0.0375029922600207, 'bus_ratio': 0.0108654926938928, 'oth_ratio': 0.024616549895853, 'tot_ratio': 0.0344479329044723}, {'geoid': '11001008701', 'res_ratio': 0.0320238316886985, 'bus_ratio': 0.0232296740352191, 'oth_ratio': 0.0361673925392918, 'tot_ratio': 0.0319889345072123}, {'geoid': '11001009203', 'res_ratio': 0.0353219671782323, 'bus_ratio': 0.00786811539902585, 'oth_ratio': 0.0168528687748532, 'tot_ratio': 0.0315717829933914}, {'geoid': '11001007903', 'res_ratio': 0.0235125142963534, 'bus_ratio': 0.0168602472836268, 'oth_ratio': 0.0301079341033895, 'tot_ratio': 0.023887413001954}, {'geoid': '11001008410', 'res_ratio': 0.0223422081549059, 'bus_ratio': 0.0472086923941551, 'oth_ratio': 0.0142018557091459, 'tot_ratio': 0.0228555118888181}, {'geoid': '11001004701', 'res_ratio': 0.0137510971620076, 'bus_ratio': 0.00187336080929186, 'oth_ratio': 0.000757432304487786, 'tot_ratio': 0.0115485103299888}, {'geoid': '11001011100', 'res_ratio': 0.00773997925366385, 'bus_ratio': 0.0588235294117647, 'oth_ratio': 0.0115508426434387, 'tot_ratio': 0.0111752695018332}, {'geoid': '11001009204', 'res_ratio': 0.00954863419953719, 'bus_ratio': 0.010116148370176, 'oth_ratio': 0.00511266805529255, 'tot_ratio': 0.00906755658989615}, {'geoid': '11001003302', 'res_ratio': 0.00207463361438412, 'bus_ratio': 0.0056200824278756, 'oth_ratio': 0.00662753266426813, 'tot_ratio': 0.00281028388258282}, {'geoid': '11001003301', 'res_ratio': 0.00215442721493736, 'bus_ratio': 0.000374672161858373, 'oth_ratio': 0.00227229691346335, 'tot_ratio': 0.00206380222627176}, {'geoid': '11001004600', 'res_ratio': 0.00106391467404314, 'bus_ratio': 0.0134881978269014, 'oth_ratio': 0.00302972921795114, 'tot_ratio': 0.0020198915406064}, {'geoid': '11001009201', 'res_ratio': 0.00101071894034098, 'bus_ratio': 0, 'oth_ratio': 0.00208293883734141, 'tot_ratio': 0.00107581179880123}, {'geoid': '11001009302', 'res_ratio': 0, 'bus_ratio': 0.00899213188460097, 'oth_ratio': 0.000378716152243893, 'tot_ratio': 0.000570838913649636}, {'geoid': '11001004702', 'res_ratio': 0, 'bus_ratio': 0.00824278756088422, 'oth_ratio': 0.000378716152243893, 'tot_ratio': 0.000526928227984279}, {'geoid': '11001006804', 'res_ratio': 0.000398968002766178, 'bus_ratio': 0, 'oth_ratio': 0, 'tot_ratio': 0.000329330142490174}, {'geoid': '11001009102', 'res_ratio': 0, 'bus_ratio': 0.00449606594230048, 'oth_ratio': 0.000568074228365839, 'tot_ratio': 0.000329330142490174}, {'geoid': '11001006202', 'res_ratio': 0, 'bus_ratio': 0.00149868864743349, 'oth_ratio': 0, 'tot_ratio': 8.78213713307133e-05}]}}

In [7]:
response1 = requests.get(
    'https://api.census.gov/data/2016/zbp',
    params={'get':'ESTAB,EMPSZES,GEO_ID', 'for':'zipcode:20002','NAICS2012':'721',}
)

In [8]:
print(response1.json())

[['ESTAB', 'EMPSZES', 'GEO_ID', 'NAICS2012', 'zipcode'], ['10', '001', '8610000US20002', '721', '20002'], ['1', '212', '8610000US20002', '721', '20002'], ['1', '220', '8610000US20002', '721', '20002'], ['4', '230', '8610000US20002', '721', '20002'], ['3', '241', '8610000US20002', '721', '20002'], ['1', '242', '8610000US20002', '721', '20002'], ['0', '251', '8610000US20002', '721', '20002'], ['0', '252', '8610000US20002', '721', '20002'], ['0', '254', '8610000US20002', '721', '20002'], ['0', '260', '8610000US20002', '721', '20002']]

In [9]:
ddd=response1.json()

In [10]:
d = response1.json()

In [11]:
e = response.json()

In [12]:
cbp = pd.DataFrame(d)

In [13]:
cbpx = pd.DataFrame(ddd)

In [14]:
hud = pd.DataFrame(e)

In [15]:
ap= hud['data']['results']

In [16]:
asa = pd.DataFrame(ap)

In [17]:
asa

    bus_ratio        geoid  oth_ratio  res_ratio  tot_ratio
0    0.267141  11001010600   0.073282   0.197729   0.187367
1    0.046085  11001008904   0.085400   0.073330   0.073133
2    0.026602  11001008802   0.075743   0.056281   0.056798
3    0.032596  11001008702   0.049233   0.054393   0.052517
4    0.124016  11001008803   0.059458   0.045881   0.052034
5    0.012364  11001008903   0.068926   0.051041   0.050849
6    0.030723  11001008804   0.117023   0.041945   0.049992
7    0.023604  11001007901   0.065707   0.047637   0.048324
8    0.077932  11001008301   0.037304   0.045429   0.046392
9    0.007868  11001008002   0.047150   0.041945   0.040552
10   0.051330  11001008200   0.056618   0.036971   0.040090
11   0.014238  11001008100   0.045825   0.040748   0.039783
12   0.019858  11001008302   0.034463   0.040908   0.038927
13   0.046085  11001008402   0.029161   0.037317   0.036885
14   0.010865  11001008001   0.024617   0.037503   0.034448
15   0.023230  11001008701   0.036167   0.032024   0.031989
16   0.007868  11001009203   0.016853   0.035322   0.031572
17   0.016860  11001007903   0.030108   0.023513   0.023887
18   0.047209  11001008410   0.014202   0.022342   0.022856
19   0.001873  11001004701   0.000757   0.013751   0.011549
20   0.058824  11001011100   0.011551   0.007740   0.011175
21   0.010116  11001009204   0.005113   0.009549   0.009068
22   0.005620  11001003302   0.006628   0.002075   0.002810
23   0.000375  11001003301   0.002272   0.002154   0.002064
24   0.013488  11001004600   0.003030   0.001064   0.002020
25   0.000000  11001009201   0.002083   0.001011   0.001076
26   0.008992  11001009302   0.000379   0.000000   0.000571
27   0.008243  11001004702   0.000379   0.000000   0.000527
28   0.000000  11001006804   0.000000   0.000399   0.000329
29   0.004496  11001009102   0.000568   0.000000   0.000329
30   0.001499  11001006202   0.000000   0.000000   0.000088

In [97]:
cbp

        0        1               2          3        4
0   ESTAB  EMPSZES          GEO_ID  NAICS2012  zipcode
1     232      001  8610000US20002         72    20002
2      81      212  8610000US20002         72    20002
3      34      220  8610000US20002         72    20002
4      55      230  8610000US20002         72    20002
5      48      241  8610000US20002         72    20002
6      14      242  8610000US20002         72    20002
7       0      251  8610000US20002         72    20002
8       0      252  8610000US20002         72    20002
9       0      254  8610000US20002         72    20002
10      0      260  8610000US20002         72    20002

In [111]:
cbpx

        0        1               2          3        4
0   ESTAB  EMPSZES          GEO_ID  NAICS2012  zipcode
1      10      001  8610000US20002        721    20002
2       1      212  8610000US20002        721    20002
3       1      220  8610000US20002        721    20002
4       4      230  8610000US20002        721    20002
5       3      241  8610000US20002        721    20002
6       1      242  8610000US20002        721    20002
7       0      251  8610000US20002        721    20002
8       0      252  8610000US20002        721    20002
9       0      254  8610000US20002        721    20002
10      0      260  8610000US20002        721    20002

In [71]:
hud

                                                                0
year                                                         2019
quarter                                                         3
input                                                       20002
crosswalk_type                                          zip-tract
results         [{'geoid': '11001010600', 'res_ratio': 0.19772...

In [14]:
tt = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw'

In [10]:
print(Bearer)

eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw

In [ ]:
base = 'http://api.census.gov/data/'
years = ['2012']#['2009', '2012', '2015']
variables = {'NAME':'Name',
             'B01001_001E': 'Population total',
             'B19013_001E': 'Real Median Income',}
v = ','.join(variables.keys())
c = '*'
s = '*'

In [ ]:
url = 'https://www.huduser.gov/hudapi/public/usps?type=1&query=22031/Authorization:"

In [ ]:
	https://api.census.gov/data/2017/acs/acs1?get=NAME,B00001_001E&for=us:*&key=YOUR_KEY_GOES_HERE

In [ ]:
df = pd.DataFrame()
for y in years:
    url = '{}{}/acs/acs5?get={}&for=county:{}&in=state:{}&key={}'.format(
        base, y, v, c, s, key)
    r = requests.get(url).json()
    dft = pd.DataFrame(r[1:], columns=r[0])
    dft['Year'] = y
    df = df.append(dft)
df = df.rename(columns=variables).set_index(
    ['Name', 'Year']).sort_index(level='Name')
df.head()

#load .env with credentials
from dotenv import load_dotenv
load_dotenv()
import os
BASE_URL = os.getenv("BASE_URL")
API_KEY = os.getenv("API_KEY")
USERNAME = os.getenv("USERNAME")

set_default_credentials(
    base_url=BASE_URL,
    api_key=API_KEY
)

credentials = Credentials(USERNAME, API_KEY)

## Extract: Bring GeoJson into Notebook

In [ ]:
transit_stop_peak_arrival_gpdf = gpd.read_file('https://opendata.arcgis.com/datasets/0e7e79b428804da392abbb2f64cba7b2_253.geojson')

## Transform
Add here some code to do data transformation (remove outliers, null values, etc.). It's probably best to do this type of work on the geopandas dataframe

## Load: Upload to CARTO

In [ ]:
transit_stop_peak_arrival_d = Dataset(transit_stop_peak_arrival_gpdf)
transit_stop_peak_arrival_d.upload(table_name='portland_transit_stop_peak_arrival', if_exists='replace', credentials=credentials)

## Make a quick map using one of CARTO's helper functions

In [ ]:
transit_stop_peak_arrival_CARTO = Dataset('portland_transit_stop_peak_arrival')
Map(
    color_continuous_layer(transit_stop_peak_arrival_CARTO, 'pmpeakarrivals','PM Peak Arrivals')
)